[submodule "Engine/Binaries/ThirdParty/imgui"]
	path = Engine/Binaries/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Engine/Binaries/ThirdParty/spdlog"]
	path = Engine/Binaries/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Binaries/ThirdParty/glfw"]
	path = Engine/Binaries/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
